{{!--     <a>|{{quesitos.[0].descricao}}|</a>  --}}



<div class="container mt-3">
    <div class="row">
        <div class="col-5">
            <div class="alert alert-info" role="alert">
                <a href="javascript: history.go(-1)" class="alert-link">AVALIADOR</a>
            </div>
        </div>
        <div class="col-7">
            <div class="alert alert-secondary" role="alert">
                <a href="javascript: history.go(-1)" class="alert-link">Evento: {{evento.descricao}}</a>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="col-sm">
            <div class="input-group">
                <input class="form-control" id="busca" type="search" autofocus placeholder="Buscar Evento ...">
                <span class="input-group-append">
                    <div class="input-group-text bg-secondary bordered"><i
                            class="fa fa-search bg-secondary text-warning"></i></div>
                </span>
            </div>
        </div>


        {{!-- Table --}}
        <div class="mt-3 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped table-sm table-hover mb-0">
                <thead>
                    <tr>
                        <th class="text-center">Núm</th>
                        <th>Nome</th>
                        <th class="text-center">Quesito 01</th>
                        <th class="text-center">Quesito 02</th>
                        <th class="text-center">Quesito 03</th>
                        <th class="text-center">Quesito 04</th>
                        <th class="text-center">Quesito 05</th>
                    </tr>
                </thead>
                <tbody id="grid">
                    {{#each candidatos}}
                    <tr>
                        <td class="text-center">{{numero}}</td>
                        <td>
                            <a href="#" class="snf-link1">{{nome}}</a>
                        </td>
                        <td class="text-right">{{nota01}}</td>
                        <td class="text-right">{{nota02}}</td>
                        <td class="text-right">{{nota03}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>



    {{> script_grid_filter}}