<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h2>Avaliador</h2>
        </div>
        <div class="col-sm">


            <div class="input-group">
            <input class="form-control" id="busca" type="search" autofocus placeholder="Buscar Evento ...">
            <span class="input-group-append">
                <div class="input-group-text bg-secondary bordered"><i class="fa fa-search bg-secondary text-warning"></i></div>
            </span>
            </div>




        </div>
    </div>








    <div class="mt-2 table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped table-sm table-hover mb-0">
            <thead>
                <tr>
                    <th class="text-right">Id</th>
                    <th>Descrição</th>
                    <th class="text-center">Status</th>
                    <th class="text-right">Cand</th>
                    <th class="text-right">Aprov</th>
                    <th class="text-center">Início</th>
                    <th class="text-center">Final</th>
                    {{> timestamp_h}}
                </tr>
            </thead>
            <tbody id="grid">

                {{#each eventos}}
                <tr>
                    <td class="text-right">{{id}}</td>
                    <td>
                        <a href="/eventos/{{../funcao}}/{{id}}" class="snf-link1">{{descricao}}</a>
                    </td>
                    <td class="text-center">
                        {{#if votar}}
                        <i class="far fa-circle text-success"></i>
                        {{else}}
                        <i class="fas fa-circle text-success" text></i>
                        {{/if}}
                    </td>
                    <td class="text-right">{{qtd_cand}}</td>
                    <td class="text-right">{{qtd_aprov}}</td>
                    <td class="text-center">{{fDataHora ts_ini '/'}}</td>
                    <td class="text-center">{{fDataHora ts_fim '/'}}</td>
                    {{> timestamp_b}}
                </tr>


                {{/each}}

            </tbody>

        </table>
    </div>

    {{> script_grid_filter}}