{{!--     <a>|{{quesitos.[0].descricao}}|</a>  --}}

<div class="container mt-3">
  <div class="container">
    <div class="alert alert-info" role="alert">
      <a href="javascript: history.go(-1)" class="alert-link">AVALIADOR</a>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-secondary" role="alert">
      <a href="javascript: history.go(-1)" class="alert-link">Evento: {{evento.descricao}}</a>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="input-group">
          <input class="form-control" id="busca" type="search" autofocus placeholder="Busca ...">
          <span class="input-group-append">
            <div class="input-group-text bg-secondary bordered"><i class="fa fa-search bg-secondary text-warning"></i>
            </div>
          </span>
        </div>
      </div>
      <div class="col-7">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selQuesito"><strong>Quesito</strong></label>
          </div>
          <select class="custom-select" id="selQuesito" onchange="teste()">
            {{#each quesitos}}
            <option value={{@index}}>{{descricao}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>

  {{!-- Table --}}
  <div class="container">
    <div class="mt-3 table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped table-sm table-hover mb-0">
        <thead>
          <tr>
            <th class="text-center">Núm</th>
            <th>Nome</th>
            {{#each quesitos}}
            <th class="text-center">{{descricao}}</th>
            {{/each}}

          </tr>
        </thead>
        <tbody id="grid">
          {{#each candidatos}}
          <tr>
            <td class="text-center">{{numero}}</td>
            <td>
              <a href="javascript:void(0)" class="snf-link1"
                onclick="abreModal('{{numero}}','{{nome}}', selQuesito.value, [{{notas}}], {{../evento.id}}, {{id}});">{{nome}}</a>
            </td>

            {{#each notas}}
            <td class="text-center">{{this}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <form id="formNota" action="" method="POST">

    <div class="modal fade" id="modalNota" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <strong>Evento:<br> {{evento.descricao}}</strong>
          </div>
          <div class="modal-body">

            <div class="alert alert-primary" role="alert">
              <strong>
                <h2 id="modQuesito"></h2>
              </strong>
            </div>

            <div class="alert alert-success" role="alert">
              <strong>
                <h1 id="modNumero"></h1>
                <h5 id="modNome"></h5>
              </strong>
            </div>

            <div class="card">

              <div class="card-body">


                <div class="input-group input-group-lg">

                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Nota:</span>
                  </div>

                  <input type="number" class="form-control form-control-lg" id="inputNota" name="inputNota" min="{{evento.nota_min}}"
                    max="{{evento.nota_max}}" step="0.01">
                </div>



              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success col-3">Salvar</button>
          </div>
        </div>
      </div>
    </div>

  </form>



  {{> script_grid_filter}}


  <script>
    function teste() {
      console.log(document.getElementById("selQuesito").value);

    }

    function gravaNota(evtId, iQ) {
      //document.getElementById('formNota').submit();
    }

    function abreModal(numero, nome, iQ, notas, evtId, candId) {
      console.log(numero, nome, iQ, notas, evtId, candId);
      var e = document.getElementById("selQuesito");
      document.getElementById("modQuesito").innerHTML = 'Quesito: ' + e.options[iQ].text;
      document.getElementById("modNumero").innerHTML = 'Nº ' + numero;
      document.getElementById("modNome").innerHTML = 'Candidato: ' + nome;
      document.getElementById("inputNota").value = notas[iQ];

      document.getElementById("selQuesito").options[iQ].selected=true;

      var cLink = '/nota/' + evtId + '/' + iQ + '/' + candId;
      document.getElementById("formNota").action = cLink; 


      $('#modalNota').modal('show');

    }

  </script>